@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: #58111A;
  background-image: linear-gradient(to top, #d7d9d7 0%, #f3f5f2 100%);
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'kalpurush';
  src: url('/font/kalpurush.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}